.vscode/
.serverless/
coverage/
lib/
node_modules/

*.log
junit.xml
draft.js
*.draft.js
yarn.lock

.idea/
!.idea/dictionaries/
!.idea/libs.iml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/jsonSchemas.xml
